<aside class="Aside-Bar">
<div  class="offcanvas offcanvas-start mt-5 p-0 border-0 bg-transparent w-auto rounded" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false">
        <div class="offcanvas-header  mt-3 bg-white pe-3 p-1" id="offcanvasHeader" style="border-top: 5px solid #44bd9e;">
            <h6 class="offcanvas-title  pe-3" id="offcanvas"><i class="fa-solid fa-group-arrows-rotate"></i><b> K-Recruitment Portal</b></h6>
            <button type="button" class=" btn-close text-reset rounded bg-danger p-1" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
    <div class="nav-manu rounded-bottom-1 text-white " style="background-color: #273c75;">
        <!-- Manu yaha  add Karna hai -->
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-gauge"></i>
                    <span>User-Dashbord</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-user-tie"></i>
                    <span>My-Profile</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-envelope-open-text"></i>
                    <span>Current-Opnings</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-file-waveform"></i>
                    <span>New-Apply-Applications</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-rectangle-list"></i>
                    <span>Submited-Applications</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-newspaper"></i>
                    <span>My-Results</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-cloud-arrow-down"></i>
                    <span>Downloads</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-bell"></i>
                    <span>Notification</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-gear"></i>
                    <span>Settings</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-shekel-sign"></i>
                    <span>Feedback</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>  
</div> 
</aside>  
