<app-user-nav></app-user-nav>
<app-user-side-nav></app-user-side-nav>
<div class="container-fluid p-1">
<div class="container vh-100 bg-light rounded">
<div class="row d-flex justify-content-center p-2 pt-5">
    <!-- change password -->
    <div class=" col-lg-8 bg-white rounded border border-success m-3 p-5 mt-5 ">
        <div class="bg-secondary-soft rounded ">
            <div class="row g-3">
                <h3 class="my-4 fw-bolder text-primary text-center">Change Password</h3>
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="rounded">
                     <!-- Registration_No Form Join Table -->
                     <input type="hidden" formControlName="Registration_No" id="Registration_No" name="Registration_No">
                     <!--  -->
                    <!-- Old password -->
                    <div class="form-floating mb-3">
                      <input
                        type="password"
                        class="form-control"
                        id="oldPassword"
                        placeholder="Old password"
                        formControlName="oldPassword"
                      />
                      <label for="oldPassword" class="fw-bold">Old Password <strong class="text-danger">*</strong></label>
                      @if (passwordForm.get('oldPassword')?.touched && passwordForm.get('oldPassword')?.errors?.['required']) {
                        <small class="text-danger ms-1"><b>Old password is required.</b></small>
                      }
                      @if (passwordForm.get('oldPassword')?.hasError('pattern')) {
                        <small class="text-danger ms-1"><b>Min 8 Chars With Upper, Lower, Number, Or Special Chars.
                        .</b></small>
                      }
                    </div>
                    <!-- New password -->
                    <div class="form-floating mb-3">
                      <input
                        type="password"
                        class="form-control"
                        id="newPassword"
                        placeholder="New password"
                        formControlName="newPassword"
                      />
                      <label for="newPassword" class="fw-bold">New Password <strong class="text-danger">*</strong></label>
                      @if (passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.errors?.['required']) {
                        <small class="text-danger ms-1"><b>New password is required.</b></small>
                      }
                      @if (passwordForm.get('newPassword')?.hasError('minlength')) {
                        <small class="text-danger ms-1"><b>New password must be at least 6 characters long.</b></small>
                      }
                      @if (passwordForm.get('newPassword')?.hasError('pattern')) {
                        <small class="text-danger ms-1"><b>Min 8 Chars With Upper, Lower, Number, Or Special Chars.
                        .</b></small>
                      }
                    </div>
                    <!-- Confirm password -->
                    <div class="form-floating mb-3">
                      <input
                        type="password"
                        class="form-control"
                        id="confirmPassword"
                        placeholder="Confirm Password"
                        formControlName="confirmPassword"
                      />
                      <label for="confirmPassword" class="fw-bold">Confirm Password <strong class="text-danger">*</strong></label>
                      @if (passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.errors?.['required']) {
                        <small class="text-danger ms-1"><b>Confirm password is required.</b></small>
                      }
                      @if (passwordForm.get('newPassword')?.value !== passwordForm.get('confirmPassword')?.value && passwordForm.get('confirmPassword')?.touched) {
                        <small class="text-danger ms-1"><b>New password and confirm password do not match.</b></small>
                      }
                      @if (passwordForm.get('newPassword')?.hasError('pattern')) {
                        <small class="text-danger ms-1"><b>Min 8 Chars With Upper, Lower, Number, Or Special Chars.
                        .</b></small>
                      }
                    </div>
                    
                    <div class="col-md-12 mt-3 pt-3 text-center">
                      <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-success text-white fw-bold btn-lg">Update Password</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
</div> 
</div>
<app-user-footer></app-user-footer>
