<form class="form text-left ms-2 p-3">
  <div class="form-group mb-3">
    <label for="email" class="text-start ms-2"><b><i class="fa-solid fa-envelope"></i> Email ID:</b></label>
    <input type="email" class="form-control shadow p-3 border border-1 border-success" id="email" placeholder="Enter Your Email ID" required />
  </div>
  <div class="form-group mb-3">
    <label for="mobile" class="text-start"><b><i class="fa-solid fa-blender-phone"></i> Mobile No:</b></label>
    <input type="text" class="form-control shadow p-3 border border-1 border-success" id="mobile" placeholder="Enter Your Mobile Number" required />
  </div>
  <div class="d-flex justify-content-between mb-3">
    <div class="form-group me-2 flex-grow-1">
      <label for="captcha-input" class="text-start ms-2"><b><i class="fa-solid fa-code-compare"></i> CAPTCHA:</b></label>
      <input type="text" class="form-control shadow p-3 border border-1 border-success" id="captcha-input" placeholder="Enter Captcha Code" required />
    </div>
    <div class="form-group me-2">
      <span class="form-control square shadow me-2 px-5 border border-1 border-primary bg-light-subtle d-flex align-items-center justify-content-center" id="captcha-text">
        <b class="user-select-none fs-5" id="captcha-code">{{ captchaText }}</b>
      </span>
    </div>
    <span class="btn btn-danger btn-outline-primary text-light d-flex align-items-center justify-content-center" (click)="generateCaptcha()">
      <i class="fas fa-sync fa-2x"></i>
    </span>
  </div>
  <hr />
  <div class="mt-3 d-flex justify-content-evenly">
    <button type="submit" class="btn btn-success form-control btn-lg text-light fs-5">
      <b>Reset <i class="fa-solid fa-right-to-bracket fa-1x"></i></b>
    </button>
  </div>
</form>