<app-user-header></app-user-header>
<app-user-nav></app-user-nav>
<app-user-side-nav></app-user-side-nav>
 <!-- Main Contents -->
<div class="container-fluid Mon-Body p-1">
    <div class=" Main-Container container mb-2">
        <!-- Row-1-For-Path -->
        <div class="row border-top border-5 border-danger p-1  bg-white shadow rounded-top">
                <h6 class="ms-1 pt-1 text-black"><a class="text-decoration-none text-black" href=""><b>Home</b></a><b> / </b><a class="text-decoration-none " href=""><b>Dashbord</b></a></h6>
        </div>
         <!-- Row-1-For-Path -->
         <div class="row boxes bg-white border-top border-1 border-dark d-flex">
            <!--  -->
           
<!--  -->

         <!-- Main Close -->
    </div>
</div>
<app-user-footer></app-user-footer>
