
<div class="container">
    <form class="Form">
  <!-- Row1 -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
            <div class="card-header">Hello</div>
             <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-4"><label for="Name">F Name</label><input class="form-control" type="text"></div>
                        <div class="col-md-12 col-lg-4"><label for="Name">M Name</label><input class="form-control" type="text"></div>
                        <div class="col-md-12 col-lg-4"><label for="Name">L Name</label><input class="form-control" type="text"></div>
                    </div>
             </div>
        </div>
    </div>
    </div>
<!-- Row1 -->
</form>
</div>



<!-- user-home.component.html -->
<div class="container border">
  <div class="row bg-black">
    <div class="col-md-12">
      <h1 class="text-center text-danger fs-1 bg-danger">User Home Page</h1>
    </div>
  </div>
</div>
