
<!-- top navbar -->
<app-topnav></app-topnav>
<!-- header topimg name logo  -->
<app-header></app-header>
<!-- navbar liks  -->
<app-navbar></app-navbar>
<!-- All contant show hear  -->
<div class="container-flude mt-1 p-1 mb-1">
    <div class="container page-heading text-center p-0 rounded rounded-bottom-0 shadow">
        <h3 style="background-color: #00698f"
            class="card-header p-2 text-light rounded border border-end-0 border-bottom-0 rounded-bottom-0 border-start-0 border-5 border-warning">
            <strong>Gallery</strong>
        </h3>
    </div>

    <div class=" container pb-3 rounded shadow text-center bg-white">
       <div class="row d-flex justify-content-between  imvibtn">
        <button (click)="Imgload()" class="col-6 p-2 text-white btn btn-dark btn-outline-danger"><b>IMAGES</b></button>
        <button (click)="Vidload()" class="col-6 p-2 text-white btn btn-warning btn-outline-danger"><b>VIDEOS</b></button>        
       </div>

<div class="row d-flex justify-content-center mt-1 ">

    @if (imgvar) {
        <app-image></app-image>
    }
    @if (vidvar) {
        <app-video></app-video>
    }

</div>




    </div>
 
  </div>
    <!-- Footer Slider -->
    <app-footslide></app-footslide>
    <!-- Footer Component -->
    <app-footer></app-footer>