<div class="headerbar container-fluid p-2">
    <div class="container img-icon header-wrapper">
      <div class="row">
        <div class="col-md-2">
          <img src="../../assets/header-img/india-logo.png" alt="India-Govt-Logo" >
          <img   src="../../assets/header-img/chhattisgarh-logo.png" alt="Chhattisgarh-Govt-Logo" >
        </div>
        <div class="col-md-9">
            <span class=" fs-3 text-primary"><strong>Recruitment Portal</strong></span><br>                                       
            <span class="text-success"><strong>DISTRICT NORTH BASTAR KANKER</strong></span>
          </div>
        <!-- <div class="col-md-1">
          <img src="../../assets/header-img/digitalIndia.png" alt="Digital-India-Govt-Logo">
        </div> -->
      </div>
    </div>
  </div>
  