<div class="headerbar container-fluid p-2">
  <div class="container border border-1  rounded bg-white">
    <div class="img-icon header-wrapper ms-0">
      
      <div class="ms-0">
      
          <img src="../../assets/header-img/chhattisgarh-logo.png" alt="Chhattisgarh-Govt-Logo" >
          <!-- <img class="gov-logo" src="../../assets/header-img/india-logo.png" alt="India-Govt-Logo" > -->
         
        </div>

        <div  class="ms-3" >
            <span class=" fs-2 text-primary mt-0 pt-0 pb-0"><strong>Recruitment Portal</strong></span><br>                                       
            <span class="text-success mt-0 pt-0"><strong>DISTRICT NORTH BASTAR KANKER</strong></span>
          </div>

    </div>
    <div class="right-content ms-auto">
      <img width="200px" height="70px" class="dg-gov-logo" src="../../assets/header-img/dgi-logo.png" alt="Digital-India-Govt-Logo">          
      
    </div>
  </div>
</div>