<div class="container border border-1 rounded">
    <!-- <img src="left-arrow.png" id="backBtn"> -->
  <div class="logos">
    <div class="logos-slide">
        <a href="https://cdn.jsdelivr.net"><img src="../../assets/footslide/image-1.png"></a>
        <a href="https://cdn.jsdelivr.net"><img src="../../assets/footslide/image-2.png"></a>
        <a href="https://cdn.jsdelivr.net"><img src="../../assets/footslide/image-3.png"></a>
        <a href="https://cdn.jsdelivr.net"><img src="../../assets/footslide/image-4.png"></a>
        <a href="https://cdn.jsdelivr.net"> <img src="../../assets/footslide/image-5.png"></a>
        <a href="https://cdn.jsdelivr.net"><img src="../../assets/footslide/image-6.png"></a>
        <a href="https://cdn.jsdelivr.net"><img src="../../assets/footslide/image-7.png"></a>
        <a href="https://cdn.jsdelivr.net"><img src="../../assets/footslide/image-8.png"></a>
        <a href="https://cdn.jsdelivr.net"><img src="../../assets/footslide/nic.jpg"></a>
    </div>
    
  </div>
</div>
  <!-- < For auto sliding"> -->
  <script>
    var copy = document.querySelector(".logos-slide").cloneNode(true);
    document.querySelector(".logos").appendChild(copy);
</script>