<!-- public/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Is Running</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #bde7ee; /* Set your desired body background color */
        }
        h3 {
            text-align: center;
            color: #0bdea5; /* Set your desired text color */
        }
    </style>
</head>
<body>
  <div class="container">
    <h3>Kanker Recruitment Portal</h3>
    <hr>
    <h5>API Is Running...</h5>
  </div>
</body>
</html>
