<!-- top navbar -->
<app-topnav></app-topnav>
<!-- header topimg name logo  -->
<app-header></app-header>
<!-- navbar liks  -->
<app-navbar></app-navbar>
<!-- All contant show hear  -->
<div class="container-flude mt-2 p-1 mb-3">
    <div class="container page-heading text-center p-0 bg-white rounded shadow">
        <h3 style="background-color: #0061b6"
            class="card-header p-2 text-light rounded border border-end-0 border-bottom-0 border-start-0 border-5 border-warning">
            <strong>Recruitment Notifications</strong>
        </h3>

        <div class="container mt-2 pb-5 p-2">
            <!-- code -->
            <div class="container p-0">
                <div class="table-responsive p-0 shadow rounded">
                  <table class="table table-bordered table-striped border-3 border border-dark rounded ">
                    <thead class=" thead table-dark p-0 border">
                      <tr class="fw-blod p-0 border border-white">
                        <th class="">Title</th>
                        <th class="">Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>PDF File</th>
                        <th>Apply Now</th>
                      </tr>
                    </thead>
                    <tbody class="tbody">
                      <tr>
                        <td>Press release for the post of Lab Attendant</td>
                        <td>Press release dated 11.12 for information regarding invitation of claim objection for the post of Lab Attendant.</td>
                        <td>11/12/2023</td>
                        <td>31/12/2023</td>
                        <td><i class="fa-solid fa-file-pdf"></i><a href="#" target="_blank"><small>View (4 MB)</small></a></td>
                        <td><button class="btn btn-primary">Apply</button></td>
                      </tr>
                      <!-- Add more rows as needed -->
                      <tr>
                        <td>Press release for the post of Lab Attendant</td>
                        <td>Press release dated 11.12 for information regarding invitation of claim objection for the post of Lab Attendant.</td>
                        <td>11/12/2023</td>
                        <td>31/12/2023</td>
                        <td><i class="fa-solid fa-file-pdf"></i><a href="#" target="_blank"><small>View (4 MB)</small></a></td>
                        <td><button class="btn btn-warning text-light fw-blod">Apply</button></td>
                      </tr>
                              <!-- Add more rows as needed -->
                              <tr>
                                <td>Press release for the post of Lab Attendant</td>
                                <td>Press release dated 11.12 for information regarding invitation of claim objection for the post of Lab Attendant.</td>
                                <td>11/12/2023</td>
                                <td>31/12/2023</td>
                                <td><i class="fa-solid fa-file-pdf"></i><a href="#" target="_blank"><small>View (4 MB)</small></a></td>
                                <td><button class="btn btn-primary">Apply</button></td>
                              </tr>
                    </tbody>
                  </table>
                </div>
              </div>


    </div>
</div>
</div>
  <!-- Footer Slider -->
  <app-footslide></app-footslide>
  <!-- Footer Component -->
  <app-footer></app-footer>