<app-user-header></app-user-header>
<app-user-nav></app-user-nav>
<app-user-side-nav></app-user-side-nav>
 <!-- Main Contents -->
<div class="container-fluid"><div class="container"><p>user-home works! Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro delectus, placeat tenetur possimus labore sed atque quisquam et officia modi quam iste dolor, necessitatibus exercitationem recusandae vero. Repudiandae, quaerat nostrum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim magni, quo sit qui pariatur assumenda itaque voluptatibus iusto obcaecati, odit unde ullam fugiat debitis veritatis ab facilis numquam? Quidem, tempora. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis inventore numquam quam iusto voluptates, cupiditate exercitationem molestias nobis tempore nostrum nulla nam, aut placeat cum, veniam a. Rerum, explicabo error. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga ut sapiente quisquam dolore sequi. Eaque numquam sed inventore modi. Odio, eius iste assumenda dolor atque error vero in? Debitis, est?</p></div></div>
<app-user-footer></app-user-footer>

