<app-user-header></app-user-header>
<app-user-nav></app-user-nav>
<app-user-side-nav></app-user-side-nav>
 <!-- Main Contents -->
<div class="container-fluid Mon-Body p-1">
    <div class=" Main-Container container mb-2">
        <!-- Row-1-For-Path -->
        <div class="row border-top border-5 border-danger p-1  bg-white shadow rounded-top">
                <h6 class="ms-1 pt-1 text-black"><a class="text-decoration-none text-black" href=""><b>Home</b></a><b> / </b><a class="text-decoration-none " href=""><b>Dashbord</b></a></h6>
        </div>
         <!-- Row-1-For-Path -->
         <div class="row boxes bg-white border-top border-1 border-dark d-flex">
            <!--  -->
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-success border border-3 border-white shadow">
                    <div class="card-body">    
                        <i class="fa-solid fa-envelope-open-text"></i>                       
                            <h5 class="text-uppercase fw-bold">Current-Opnings</h5>
                            <h1 class="fw-bold">87</h1>                          
                    </div>
                </div>
            </div>
            <!-- 2 -->
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-primary border border-3 border-white shadow">
                    <div class="card-body"> 
                        <i class="fa-solid fa-rectangle-list"></i>                          
                            <h5 class="text-uppercase fw-bold">Submited-Applications</h5>
                            <h1 class="fw-bold">80</h1>
                         
                    </div>
                </div>
            </div>

            <!-- 3 -->
                        <div class="col-xl-3 col-sm-6 py-2">
                            <div class="card text-white bg-warning border border-3 border-white shadow">
                                <div class="card-body">   
                                         <i class="fa-solid fa-clock-rotate-left"></i>                        
                                        <h5 class="text-uppercase fw-bold">Pending-Applications</h5>
                                        <h1 class="fw-bold">90</h1>
                                </div>
                            </div>
                        </div>
            <!-- 4 -->
            <div class="col-xl-3 col-sm-6 py-2">
                <div class="card text-white bg-info border border-3 border-white shadow">
                    <div class="card-body">  
                            <i class="fa-solid fa-newspaper"></i>                         
                            <h5 class="text-uppercase fw-bold">Results</h5>
                            <h1 class="fw-bold">11</h1>
                    </div>
                </div>
            </div>

         </div>
    <!-- close boxes -->
         <div class="row   bg-white">
            <div class="col-xl-12 col-sm-12 py-2">
                <div class="card p-0">
                    <div class="card-header fw-bold "><h5>Hii</h5></div>
                    <div class="card-body">
                        <table class="table">
                            <tr>
                              <td>&nbsp;</td>
                              <td>Knocky</td>
                              <td>Flor</td>
                              <td>Ella</td>
                              <td>Juan</td>
                            </tr>
                            <tr>
                              <td>Breed</td>
                              <td>Jack Russell</td>
                              <td>Poodle</td>
                              <td>Streetdog</td>
                              <td>Cocker Spaniel</td>
                            </tr>
                            <tr>
                              <td>Age</td>
                              <td>16</td>
                              <td>9</td>
                              <td>10</td>
                              <td>5</td>
                            </tr>
                            <tr>
                              <td>Owner</td>
                              <td>Mother-in-law</td>
                              <td>Me</td>
                              <td>Me</td>
                              <td>Sister-in-law</td>
                            </tr>
                            <tr>
                              <td>Eating Habits</td>
                              <td>Eats everyone's leftovers</td>
                              <td>Nibbles at food</td>
                              <td>Hearty eater</td>
                              <td>Will eat till he explodes</td>
                            </tr>
                          </table>
                          
                          
                    </div>
                </div>
            </div>
         </div>
<!--  -->

         <!-- Main Close -->
    </div>
</div>
<app-user-footer></app-user-footer>

