<app-user-header></app-user-header>
<app-user-nav></app-user-nav>
<app-user-side-nav></app-user-side-nav>
 <!-- Main Contents -->
<div class="container-fluid Mon-Body p-1">
    <div class=" Main-Container container mt-1  mb-1 bg-transparent ">
        <!-- Row-1-For-Path -->
        <div class="row border-top border-5 border-danger bg-white shadow rounded-top">
                <h6 class="ms-1 pt-1 text-black"><a class="text-decoration-none text-black" href=""><b>Home</b></a><b> / </b><a class="text-decoration-none " href=""><b>Dashbord</b></a></h6>
        </div>
         <!-- Row-1-For-Path -->
         <div class="col-xl-3 col-sm-6 py-2">
            <div class="card text-white bg-danger h-100">
                <div class="card-body bg-danger">
                    <div class="rotate">
                        <i class="fa fa-list fa-4x"></i>
                    </div>
                    <h6 class="text-uppercase">Posts</h6>
                    <h1 class="display-4">87</h1>
                </div>
            </div>
        </div>



         <!-- Main Close -->
    </div>
</div>
<app-user-footer></app-user-footer>

