<div class="container-fluid  mb-2 ">
<div class="container rounded p-1">

    <div class="row p-0 d-flex justify-content-between">
         <!-- <div class="col-md-7 d-flex justify-content-between p-1  left-div  bg-warning rounded">         -->
            <div class="link-col col-md-3 pb-1 list-group card p-0 "> 
                <h4 class="text-dark  card-header fw-bold bg-danger text-white"><i class="fa-solid fa-thumbtack"></i> QUICK LINKS</h4>  

                <a href="https://play.google.com/store/apps/details?id=cg.kanker.cad" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>NIC CAD Mobile Application</b>
                </a>
                <a href="https://uidai.gov.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                   <b> My Aadhaar UIDAI</b>
                </a>
                <a href="https://rtionline.gov.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>Right to Information Act</b>
                </a>
                <a href="http://jandarshan.cg.nic.in" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>Public Grievance - Jandarshan</b>
                </a>
                <a href="http://cg.nic.in/loksuraj/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>Public Grievance - Loksuraj</b>
                </a>
                <a href="https://cgstate.gov.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>State Portal Chhattisgarh</b>
                </a>
                </div>

                <div class="link-col col-md-4 pb-1 p-0 list-group card">
                    <h4 class="text-dark  card-header fw-bold bg-primary text-white"><i class="fa-solid fa-thumbtack"></i> QUICK LINKS</h4> 

                <a href="https://bhuiyan.cg.nic.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>Land Records Bhuiyan</b>
                </a>
                <a href="https://ekoshonline.cg.nic.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>eKosh Online</b>
                </a>
                <a href="https://edistrict.cgstate.gov.in/PACE/login.do" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                   <b>eDistrict Project</b>
                </a>
                <a href="http://eci.nic.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>Election Commission of India</b>
                </a>
                <a href="http://www.nvsp.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>National Voters Service Portal</b>
                </a>
                <a href="http://ceochhattisgarh.nic.in/en" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>Office of Chief Electoral Officer Chhattisgarh</b>
                </a>
            </div>
 <!-- right side -->

            <!-- <div class="col-md-5 d-flex  right-div bg-info rounded"> -->
                <div class=" link-col list-group pb-1 card col-md-2 p-0 ">
                    <h4 class="text-dark text-white card-header fw-bold bg-warning"><i class="fa-solid fa-tree-city"></i> Glance</h4>
              

                            <a  class="list-group-item list-group-item-action" href="https://kanker.gov.in/demography/" target="_blank">
    
                                <span class="list-text"><b><i class="fa-solid fa-compass-drafting"></i> Area:</b> 6432 sq km</span>
                            </a>

                            <a class="list-group-item list-group-item-action" href="https://kanker.gov.in/demography/" target="_blank">
                                <span class="list-text"><b><i class="fa-solid fa-people-group"></i> Population:</b> 7,48,941</span>
                            </a>

                            <a  class="list-group-item list-group-item-action" href="https://kanker.gov.in/demography/" target="_blank">
                                <span class="list-icon blue-bg icon-refress border-radius-none"></span>
                                <div class="list-text"><b><i class="fa-solid fa-building-flag"></i> Block:</b> 7</div>
                            </a>
                
                            <a  class="list-group-item list-group-item-action" href="https://kanker.gov.in/demography/">
                                <span class="list-text"><b><i class="fa-brands fa-fort-awesome"></i> Villages:</b> 1005</span>
                            </a>
               
                            <a  class="list-group-item list-group-item-action" href="https://kanker.gov.in/demography/" target="_blank">
                                <span class="list-text"><b><i class="fa-solid fa-synagogue"></i> Municipality:</b> 6</span>
                            </a>

                            <a  class="list-group-item list-group-item-action" href="https://kanker.gov.in/demography/" target="_blank">
                                <span class="list-text"><b><i class="fa-regular fa-hospital"></i> Hospital:</b> 1</span>
                            </a>
                 
                </div>
    <!-- Image card after the list -->
        <!-- Image card after the list -->
        <div class="img1 card text-center col-md-2">
            <img src="../../assets/info/ias.jpg" class="m-auto -top img-fluid rounded border border-1 mt-1 shadow" alt="Image Description" >
            <div class="card-body list-group-item p-0 text-justify">
                <hr class="p-0 m-0"/>
                <span class="card-title p-0 fw-bold pb-0 ">Mr. Abhijeet Singh (IAS) <small>Collector & Dist. Magistrate</small> </span>
                <p class="card-text text-center fw-bold">जिला उत्तर बस्तर कांकेर</p>
            </div>
        <!-- </div>             -->
         </div> 
    
</div>






        
 </div>
   </div>

