
/* That Is Foe Rigth Side News Link */

.heading {
	color: #fff;
	background:#ff5252;
    cursor: pointer;
    padding: 11px;
}
.heading a{
float: right;
}

.heading a:hover{
    color: darkslateblue;
    }
.event-date{
    border: solid white;
    margin-right:5px;
}
.info-link{
   display: flex;
   justify-content: center;
   border: solid #44bd9e;
}

.news-ticker{
    background-color:#e9f0ff;
    border: solid black;

}
.heading-news-ticker{
    width:80px;
    background-color:#ff5252;
    border-radius: 5px;
}
.ms-link{
    text-decoration: none;
    display:inline;
    justify-content: center;
}
.event{
    height:300px;
      overflow: hidden;
}
.mrqbody{
    overflow: hidden;
    height:300px;

}

.carousel-item img{
    width: 100%;
    height: 100%;
    height:300px;
    object-fit:fill;
}
.slide{

    height:300px;
}



@media (max-width: 768px) {
    .carousel-item img{
        width: 100%;
        height: 100%;
        height:190px;
        object-fit:fill;
    }
    .slide{

        height:190px;
    }
}

.container{
    background-color:#ffff;
}

.slidebutton-icon{
        background-color:#44bd9e;
        border-radius: 5px;
        border: solid 1px;
        border-color: #e9f0ff;
}
