<div class="container-flude mt-1 p-1 mb-1">
    <div class="container page-heading text-center p-0 bg-white rounded shadow">
        <h3 style="background-color: #ea5a0c"
            class="card-header p-2 text-light rounded border border-end-0 border-bottom-0 border-start-0 border-5 border-primary">
            <strong>Erorr 404 | Page Not Found !..</strong>
        </h3>
  
 
    <div class=" container d-flex align-items-center justify-content-center h-100">
        <div class="text-center m-5">
            <h1 class="display-1 fw-bold">4<b class="text-danger">0</b>4</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
            <p class="lead">
                The page you’re <b class="text-warning">looking</b> for doesn’t <b class="text-danger">exist.</b> 
              </p>
            <a routerLink="/home" href="/home" class="btn btn-dark">Go <i class="fa-solid fa-house-laptop"></i> Home</a>
        </div>
    </div>


      
    </div>
  </div>
  