<div class="container-flude mt-2 p-1 mb-3">
    <div class="container page-heading text-center p-0 bg-white rounded shadow">
        <h3 style="background-color: #44bd9e"
            class="card-header p-2 text-light rounded border border-end-0 border-bottom-0 border-start-0 border-5 border-danger">
            <strong>User Login Page</strong>
        </h3>

        <div class="container mt-3 pb-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card rounded border-end-0 border-bottom-0 border-start-0 border-5 border-success">
                        <div class="card-header border border-dark border-top-success rounded-top-0">
                            <span class="text-justify text-danger">
                                <p class="text-justify">
                                    <small><b>लॉग इन और आवेदन पत्र भरने से पहले 'कांकेर भर्ती पोर्टल' -
                                            Kanker Recruitment Portal पर पंजीकरण करना अनिवार्य है।
                                            कृपया सुनिश्चित करें कि आप पंजीकृत हैं, क्योंकि केवल
                                            पंजीकृत आवेदक ही इस पोर्टल के माध्यम से आयोजित भर्तियों के
                                            लिए आवेदन कर सकते हैं।</b></small>
                                </p>
                            </span>
                        </div>
                        <div class="card-body border border-dark border-bottom-0">
                            <form>
                                <div class="form-group">
                                    <label for="email" class="ms-2"><b><i class="fa-solid fa-envelope"></i> Email
                                            ID:</b></label>
                                    <input type="email" class="form-control shadow p-2 border border-1 border-success"
                                        id="email" placeholder=" Enter Your Email ID" required />
                                </div>
                                <div class="form-group">
                                    <label for="mobile" class="ms-2"><b><i class="fa-solid fa-blender-phone"></i> Mobile
                                            No:</b></label>
                                    <input type="mobile" class="form-control shadow p-2 border border-1 border-success"
                                        id="mobile" placeholder="Enter Your Mobile Or Phone No " required />
                                </div>
                                <div class="form-group">
                                    <label for="password" class="ms-2"><b><i class="fa-solid fa-unlock"></i>
                                            Password:</b></label>
                                    <input [type]="changetype ? 'password' : 'text'"
                                        class="form-control shadow p-2 border border-1 border-success" id="password"
                                        placeholder="Enter Your Password" required />
                                    <span class="eyeicon ms-end" (click)="viewpass()"><i [ngClass]="
                        visible ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'
                      "></i></span>
                                </div>
                                <div class="form-group">
                                    <label for="captcha" class="ms-2"><b><i class="fa-solid fa-code-compare"></i>
                                            CAPTCHA:</b></label>
                                    <div class="d-flex justify-content-between">
                                        <input type="text"
                                            class="me-2 form-control shadow p-2 border border-1 border-success"
                                            id="captcha-input" placeholder="Enter Captcha Code" required />
                                        <div type="text" class="rounded shadow p-2 me-2 border border-1 border-primary"
                                            id="captcha-text">
                                            <b><i class="user-select-none fs-5" id="captcha-code">ABXY21CD</i></b>
                                        </div>

                                        <span type="submit" class="btn btn-danger btn-outline-primary text-light">
                                            <b><i class="fas fa-sync fa-2x"></i></b>
                                        </span>
                                    </div>
                                </div>
                                <hr />
                                <div class="mt-3 d-flex justify-content-evenly">
                                    <button type="submit" class="btn btn-primary btn-outline-success text-light fs-5">
                                        <b>Login <i class="fa-solid fa-right-to-bracket fa-1x"></i></b>
                                    </button>
                                    <button type="submit" class="btn btn-danger btn-outline-info text-light fs-5">
                                        <b>Reset <i class="fa-solid fa-repeat fa-1x"></i></b>
                                    </button>
                                    <button type="submit" class="btn btn-warning btn-outline-dark text-light fs-5"
                                        routerLink="/forget">
                                        <b>Forget <i class="fa-solid fa-key fa-1x"></i></b>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div
                            class="card-header rounded-bottom border border-dark border-1 border-top-0 p-1 bg-dark text-light fw-bold">
                            <a class="text-light" href="#">User Manual</a> ||
                            <a class="text-light" href="#">User Instruction</a> ||
                            <small class="text-primary register-text">Don't have an account ?
                            </small>
                            <a class="text-warning" routerLink="/register" href="#"><b>Register</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>