.card-body{
text-align: left;
}
input{
    font-size:large;
    background-color:lightcyan;
}


@media (max-width: 992px) {
    .register-text {
      display: none; /* Hide right-side content below 390px */
    }
}

.eyeicon{
  position: relative;
display: flex;
float: right;
margin-top:-30px;
margin-right: 11px;
border: 1px;

}