<div class="container-flude mt-3 p-1">
        <div class="container page-heading text-center">
            <h3 class="p-2 bg-primary text-light border-bottom border-1 rounded"><strong>About-Us Page</strong></h3>
        </div>  
      
        <div class="container text-center bg-light rounded border border-1 border-dark">
            <p> Wel Code Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati illum repudiandae ipsa culpa. Adipisci ea maiores cupiditate alias aliquam nam laudantium deserunt repellat unde, totam sapiente dolorum inventore tempora eveniet? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi id eaque nobis quae atque ullam quibusdam laboriosam neque. Natus sunt consequatur excepturi eius iusto doloremque commodi eum velit dolores quis. Lorem ipsum, dolor sit amet consectetur adipisicing </p>
        </div>    
<div class="container">
    
    </div>
</div>
