<div class="container-flude mt-2 p-1 mb-3">
    <div class="container page-heading text-center p-0 bg-white rounded shadow">
        <h3 style="background-color: #ea0c7b"
            class="card-header p-2 text-light rounded border border-end-0 border-bottom-0 border-start-0 border-5 border-dark">
            <strong>About Us</strong>
        </h3>
  
  <div class="container mt-2">
    <div class="row  about-row p-1 rounded  shadow ">
        <div class="col-md-8 about-data shadow pb-3">
            <span>
                <h5 class="fw-blod">About District North Bastar Kanker Recruitment Portal</h5>
              </span>
              <section>
                <h6>Welcome</h6>
                <p>Welcome to the official recruitment portal of District North Bastar Kanker, where opportunities meet aspirations!</p>
                <p><strong>Empowering Dreams, Building Futures</strong></p>
                <p>District North Bastar Kanker stands as a beacon of progress and development in the heart of India. With a rich cultural heritage and a commitment to growth, our district is poised to achieve greater heights. Our recruitment portal serves as a gateway to fulfilling careers and opportunities for the talented individuals who wish to contribute to the development story of our region.</p>
              </section>
              <section>
                <h6>Our Vision</h6>
                <p>To create a vibrant and inclusive ecosystem where meritocracy thrives, and every individual has the opportunity to realize their full potential.</p>
              </section>
              <section>
                <h6>Our Mission</h6>
                <ul>
                  <li>To facilitate transparent and efficient recruitment processes, ensuring equal opportunities for all.</li>
                  <li>To build a skilled and motivated workforce capable of driving sustainable development in District North Bastar Kanker.</li>
                  <li>To foster a culture of integrity, professionalism, and innovation in all aspects of recruitment and employment.</li>
                </ul>
              </section>   
        </div>
        <div class="col-md-4 pb-3 rounded add-office">
          <h4 class="pt-2">Reach Us</h4><hr>
          <div class="Address ms-0">  
             
                <p ><i class="bi bi-geo-alt-fill"></i> <b> Address:- Collector Office, Near Bus Stand, Kanker, Chhattisgarh, Pin 494334</b> </p>
             <hr>
   
             
                <p>    <i class="bi bi-telephone-fill"> </i><b> Phone:- </b> <a class="text-white " href="tel:07868-241222"><b class="link">07868-241222</b> </a> </p>
            <hr>
            
               
                <p><i class="bi bi-envelope-fill"></i> <b> Email:- </b> <a class="text-white " href="mailto:Kanker@gmail.com"><b class="link">Kanker{{"@"}}gmail.com</b></a></p>
           <hr>
         
             
                <p>   <i class="bi bi-browser-chrome"></i> <b> Website:- </b> <a class="text-white" href="https://kanker.gov.in" target="_blank" rel="noopener noreferrer"><b class="link">https://kanker.gov.in</b></a> </p>
                <hr><h5> <i class="fa-solid fa-map-location-dot"></i> Office Location</h5><hr>
                <div class="map mb-0 p-0 mt-3">
                  
                  <iframe class="rounded p-0 border border-1 border-white" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14971.240497231402!2d81.498843!3d20.266708!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a2efd9e0518cda5%3A0xe947c615bc016b!2sCollectorate!5e0!3m2!1sen!2sin!4v1710466122920!5m2!1sen!2sin" ></iframe>
                </div>
              </div>
  
            </div>
    </div>
    </div>
<!-- fullabout kanker jila -->
<hr class="line p-1 m-0" /> 
<div class="container about-info rounded">
<div class="row about-jila pb-3"> 

  <div class="col-md-4 p-1">
    <img class="office-img img-fluid shadow rounded p-1" src="../../assets/aboutus-img/Kanker-Collectred-Office.jpg" alt="Chhattisgarh-Govt-Knaker District" >
  </div>

  <div class="col-md-8">
    <section class=" about-text p-1 rounded"><h5> <u><b>About Kanker District.</b></u></h5>
      <p>Kanker district is located in the Southern region of Chhattisgarh.
      
          Earlier Kanker was a part of old Bastar district. But in 1998, Kanker was recognized as a district.
          
          Kanker is located in the longitude of 20.6-20.24 and the latitude is 80.48-81.48. The total area of the district is approximately 5285.01 square kilometers. The small mountainous area is seen in the whole mountainous area. Mainly flows through the district in five rivers- Milk River, Mahanadi, Hukkul River, Sindur River and Turu River.
          
          Kanker is 140 km from Raipur and 160 kilometers from Jagdalpur. Taxis are also available along the road and private buses on the National Highway.
          
          At present, there are 7 tehsils in Kanker district, namely Kanker, Charama, Narharpur, Bhanupratapur, Antagarh, Durgukondal and Koyalibeda. The total number of villages is 1004. The number of revenue villages is 995 whereas forest villages are 9.
          </p>
          
      <!-- social icon -->

      <div class="social-media container mb-0 mt-2 ">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 mt-3 border  border-1 border-dark rounded d-flex justify-items-center">
            <h4 class="pt-2 ms-2"><b><i>Follow:US- </i></b></h4>
          <a class="btn bg-danger text-light m-1 btn-outline-light" href="http://" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-youtube"></i></a>
          <a class="btn bg-primary text-light m-1 btn-outline-light" href="http://" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-facebook"></i></a>
          <a class="btn bg-warning text-light m-1 btn-outline-light" href="http://" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram"></i></a>
          <a class="btn bg-black text-light m-1 btn-outline-light" href="http://" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-x-twitter"></i></a>
          </div>
        </div>
     </div>

<!-- icon -->
        </section> 

  </div>



</div>
</div>

    </div>
  </div>
  