<div class="container-xxl py-5 bg-white text-center border  border-dark rounded ">
    <div class="container ">
        <h1 class="text-center mb-5 fw-bold text-warning wow fadeInUp" data-wow-delay="0.1s"
            style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">Explore By Category</h1>
        <div class="row gx-4 gy-4">
            <div class="col-lg-3 card col-sm-6 bg-black wow fadeInUp" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
                    <h6 class="mb-3">Marketing</h6>
                    <p class="mb-0">123 Vacancy</p>
                </a>
            </div>
            <div class="col-lg-3 card col-sm-6 bg-danger wow fadeInUp" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                    <h6 class="mb-3">Customer Service</h6>
                    <p class="mb-0">123 Vacancy</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6  card bg-info wow fadeInUp" data-wow-delay="0.5s"
                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                    <h6 class="mb-3">Human Resource</h6>
                    <p class="mb-0">123 Vacancy</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 card bg-success wow fadeInUp" data-wow-delay="0.7s"
                style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-tasks text-primary mb-4"></i>
                    <h6 class="mb-3">Project Management</h6>
                    <p class="mb-0">123 Vacancy</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6  card bg-warning wow fadeInUp" data-wow-delay="0.1s"
                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-chart-line text-primary mb-4"></i>
                    <h6 class="mb-3">Business Development</h6>
                    <p class="mb-0">123 Vacancy</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 card bg-info-subtle  wow fadeInUp" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-hands-helping text-primary mb-4"></i>
                    <h6 class="mb-3">Sales &amp; Communication</h6>
                    <p class="mb-0">123 Vacancy</p>
                </a>
            </div>
 
            <div class="col-lg-3 col-sm-6 card wow fadeInUp" data-wow-delay="0.7s"
                style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                <a class="cat-item rounded p-4" href="">
                    <i class="fa fa-3x fa-drafting-compass text-primary mb-4"></i>
                    <h6 class="mb-3">Design &amp; Creative</h6>
                    <p class="mb-0">123 Vacancy</p>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 card bg-primary text-white wow fadeInUp" data-wow-delay="0.5s"
            style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
            <a class="cat-item rounded p-4 text-white" href="">
                <i class="fa fa-3x fa-book-reader  mb-4"></i>
                <h6 class="mb-3">Teaching &amp; Education</h6>
                <p class="mb-0">123 Vacancy</p>
            </a>
        </div>


        </div>
    </div>
</div>