<div class="headerbar container-fluid p-2">
  <div class="container border border-1 border-dark  rounded bg-white">
    <div class="img-icon header-wrapper ms-0">
      
      <div class="ms-0">
        <abbr title="RECRUITMENT PORTAL - DISTRICT NORTH BASTAR KANKER ">
      
          <img  src="../../assets/header-img/chhattisgarh-logo.png" alt="Chhattisgarh-Govt-Logo" >
          <!-- <img class="gov-logo" src="../../assets/header-img/india-logo.png" alt="India-Govt-Logo" > -->
        </abbr>
        </div>

        <div  class="ms-3 user-select-none" >
            <span class=" fs-2 text-primary mt-0 pt-0 pb-0"><strong><u>K-Recruitment Portal.</u></strong></span><br>                                       
            <span class="text-success mt-0 pt-0"><strong>DISTRICT NORTH BASTAR KANKER.</strong></span>
          </div>

    </div>
    <div class="right-content ms-auto">
      <a href="https://digitalindia.gov.in/"  aria-label="छत्तीसगढ़ शासन - External Regional Language Site that opens in a new window"
      title="छत्तीसगढ़ शासन - External Regional Language Site that opens in a new window"
      onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies.');"
      target="_blank" rel="noopener noreferrer">
      <img width="200px" height="70px" class="dg-gov-logo" src="../../assets/header-img/dgi-logo.png" alt="Digital-India-Govt-Logo">          
    </a>
    </div>
  </div>
</div>