<div class="container-fluid main-div p-1 ">
    <!-- IMAGE-Galary-->
    <div class="container mb-1 rounded pt-2 p-0 p-1">

        <div class="row p-0 pb-1 pt-1 d-flex justify-content-between">
            <div class="col-md-3 pb-1 ">
                <div class="thumbnail text-center rounded border border-1 border-dark shadow pb-1 bg-white">
                    <a class="link-offset-2 link-underline link-underline-opacity-0 text-white" href="https://www.w3schools.com/w3images/lights.jpg" target="_blank">
                      <img class="rounded-top" src="https://www.w3schools.com/w3images/lights.jpg" alt="Fjords" style="width:100%">
                      <div class="caption text-dark fw-bold">
                        <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                      </div>

                    </a>
                    <a href="http://"  target="_blank" rel="noopener noreferrer"><button type="button" class=" p-1 btn imgviewbtn">View Gallery</button></a>
                  </div>
            </div>
           <!-- 2card img -->
           <div class="col-md-3 pb-1 ">
            <div class="thumbnail text-center rounded border border-1 border-dark shadow pb-1 bg-white">
                <a class="link-offset-2 link-underline link-underline-opacity-0 text-white" href="https://www.w3schools.com/w3images/lights.jpg" target="_blank">
                  <img class="rounded-top" src="https://www.w3schools.com/w3images/lights.jpg" alt="Fjords" style="width:100%">
                  <div class="caption text-dark fw-bold">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                  </div>

                </a>
                <a href="http://"  target="_blank" rel="noopener noreferrer"><button type="button" class=" p-1 btn imgviewbtn">View Gallery</button></a>
              </div>
        </div>
        <!-- 3 card img -->
        <div class="col-md-3 pb-1">
            <div class="thumbnail text-center rounded border border-1 border-dark shadow pb-1 bg-white">
                <a class="link-offset-2 link-underline link-underline-opacity-0 text-white" href="https://www.w3schools.com/w3images/lights.jpg" target="_blank">
                  <img class="rounded-top" src="https://www.w3schools.com/w3images/lights.jpg" alt="Fjords" style="width:100%">
                  <div class="caption text-dark fw-bold">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                  </div>

                </a>
                <a href="http://"  target="_blank" rel="noopener noreferrer"><button type="button" class=" p-1 btn imgviewbtn">View Gallery</button></a>
              </div>
        </div>
        <!-- 4 card img  -->
        <div class="col-md-3 pb-1 ">
            <div class="thumbnail text-center rounded border border-1 border-dark shadow pb-1 bg-white">
                <a class="link-offset-2 link-underline link-underline-opacity-0 text-white" href="https://www.w3schools.com/w3images/lights.jpg" target="_blank">
                  <img class="rounded-top" src="https://www.w3schools.com/w3images/lights.jpg" alt="Fjords" style="width:100%">
                  <div class="caption text-dark fw-bold">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                  </div>

                </a>
                <a href="http://"  target="_blank" rel="noopener noreferrer"><button type="button" class=" p-1 btn imgviewbtn">View Gallery</button></a>
              </div>
        </div>


        </div>  

    </div>
</div>
    
    