<div class="container-fluid  bg-black p-0">
  <div class="container d-flex align-items-center p-0">
<nav class="navbar  navbar-expand-lg navbar-dark p-0 ">
  <button class=" navbar p-1 toggler border border-2 border-white rounded text-white bg-black " data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
    <span class=" text-bg-light  rounded navbar-toggler-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></span>
</button> <h5 class=" ms-3 text-white"><b>H! &#64;User</b></h5>
</nav>
 <!-- Right Side Of Navbar -->
 <ul class="navbar-nav ms-auto p-0 ">
  <div class="dropdown">
    <button style="background-color: #34495e;" class="dropdown-toggle pt-0 pb-0 shadow m-1 rounded d-flex align-items-center border border-2  border-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <!-- <li class=""> -->
        <div class="nav-link nav-item">
          <img class="rounded profile-img img-fluid"width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile Picture"><b class="text-white ms-1"> <i class="fa-solid fa-sliders"></i></b>
        </div>
      <!-- </li> -->
    </button>
    <ul class="dropdown-menu sticky">
      <li><a class="dropdown-item" href="#"><b><i class="fa-solid fa-id-card"></i> My-Profile</b></a></li>
      <li><a class="dropdown-item" href="#"><b><i class="fa-solid fa-gear"></i> Settings</b></a></li>
      <li><hr class="dropdown-divider p-0 m-0"></li>
      <li><a class="dropdown-item" href="#"><b>Logout <i class="fa-solid fa-right-from-bracket"></i></b></a></li>
    </ul>
  </div>
</ul>
<!-- p-img -->
</div>
</div>