<footer class="container-fluid ">
<!-- Credit -->
<div class="row d-flex justify-content-between align-items-center bg-white shadow">
  <!-- social icon -->
  <div class="social-media col-md-6  d-flex justify-content-center">
        <a class="btn  m-1 btn-outline-dark" href="https://www.youtube.com/@LomashRishi" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-youtube m-0 ps-1 pe-1"></i></a>
        <a class="btn  m-1 btn-outline-dark" href="https://www.facebook.com/imlomash" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-facebook m-0 ps-1 pe-1"></i></a>
        <a class="btn  m-1 btn-outline-dark" href="https://www.instagram.com/imlomash/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram m-0 ps-1 pe-1"></i></a>
        <a class="btn  m-1 btn-outline-dark" href="https://github.com/lomashrishi/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github-square m-0 ps-1 pe-1"></i></a>
   </div>
 <!-- Credit CopyRight -->
  <div class="credit-text col-md-6 d-flex justify-content-center">
    <b>Copyright © All Rights Reserved By.</b><a href="https://kanker.gov.in"><strong>Kanker.gov.in</strong></a>
  </div>

</div>
</footer>