<div class="container-fluid bg-danger p-3 mb-3">
<div class="container rounded">

    <div class="row  text-light">
         <div class="col-md-6 d-flex justify-content-center  left-div  bg-warning rounded list-group ">           
                <h3 class="text-light text-center card-header fw-bold">QUICK LINKS</h3>
                <a href="https://play.google.com/store/apps/details?id=cg.kanker.cad" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>NIC CAD Mobile Application</b>
                </a>
                <a href="https://uidai.gov.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                   <b>Aadhaar</b>
                </a>
                <a href="https://rtionline.gov.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>Right to Information Act</b>
                </a>
                <a href="http://jandarshan.cg.nic.in" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>Public Grievance - Jandarshan</b>
                </a>
                <a href="http://cg.nic.in/loksuraj/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>Public Grievance - Loksuraj</b>
                </a>
                <a href="https://cgstate.gov.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>State Portal Chhattisgarh</b>
                </a>
                <a href="https://bhuiyan.cg.nic.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>Land Records Bhuiyan</b>
                </a>
                <a href="https://ekoshonline.cg.nic.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>eKosh Online</b>
                </a>
                <a href="https://edistrict.cgstate.gov.in/PACE/login.do" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                   <b>eDistrict Project</b>
                </a>
                <a href="http://eci.nic.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>Election Commission of India</b>
                </a>
                <a href="http://www.nvsp.in/" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>National Voters Service Portal</b>
                </a>
                <a href="http://ceochhattisgarh.nic.in/en" class="list-group-item list-group-item-action" target="_blank" rel="noopener noreferrer" onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies');">
                    <b>Office of Chief Electoral Officer Chhattisgarh</b>
                </a>
         </div> 


<!-- right side -->
<div class="col-md-6 d-flex justify-content-center right-div bg-info rounded pt-5 pb-5">
    <div class="gen-list card ">
        <h5 class="text-dark text-center card-header fw-bold">District At Glance</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a class="nav-link" href="https://kanker.gov.in/demography/" target="_blank">
                    <span class="list-icon blue-bg icon-map-area border-radius-none"></span>
                    <div class="list-text"><b>Area:</b> 6432 sq km</div>
                </a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="https://kanker.gov.in/demography/" target="_blank">
                    <span class="list-icon blue-bg icon-group-line border-radius-none"></span>
                    <div class="list-text"><b>Population:</b> 7,48,941</div>
                </a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="https://kanker.gov.in/demography/" target="_blank">
                    <span class="list-icon blue-bg icon-refress border-radius-none"></span>
                    <div class="list-text"><b>Block:</b> 7</div>
                </a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="https://kanker.gov.in/demography/">
                    <span class="list-icon blue-bg icon-village border-radius-none"></span>
                    <div class="list-text"><b>Villages:</b> 1005</div>
                </a>
            </li>
            <li class="list-group-item">
                <a class="nav-link" href="https://kanker.gov.in/demography/" target="_blank">
                    <span class="list-icon blue-bg icon-municipal border-radius-none"></span>
                    <div class="list-text"><b>Municipality:</b> 6</div>
                </a>
            </li>
        </ul>
    </div>

    <!-- Image card after the list -->
        <!-- Image card after the list -->
        <div class="card text-center">
            <img src="../../assets/info/ias.jpg" class="mt-1 m-auto card-img-top img-fluid rounded border border-1" alt="Image Description" style="max-width: 190px; height: 225px;">
            <div class="card-body list-group-item p-1">
                <hr/>
                <span class="card-title text-center fw-bold">Mr. Abhijeet Singh (IAS) <br/> Collector & Dist. Magistrate</span>
                <p class="card-text text-center fw-bold">जिला उत्तर बस्तर कांकेर</p>
            </div>
    
</div>






        
 </div>
   </div>

