<div class="container-fluid topnavbar">
    <div class="container p-0 rounded rounded-top-0 border border-2 border-dark bg-info-subtle">
        <div class="row px-1">
                <ul class="nav col left-link">
                    <li class="top-li ms-2">
                        <a class="nav-link " href="https://cgstate.gov.in/"
                            aria-label="छत्तीसगढ़ शासन - External Regional Language Site that opens in a new window"
                            title="छत्तीसगढ़ शासन - External Regional Language Site that opens in a new window"
                            onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies.');"
                            target="_blank" rel="noopener noreferrer">
                            छत्तीसगढ़ शासन
                        </a>
                    </li>

                    <!-- second link -->
                    <li class="top-li egov-link border-start border-end">
                        <a class="nav-link" href="https://cgstate.gov.in/"
                            aria-label="छत्तीसगढ़ शासन - External Regional Language Site that opens in a new window"
                            title="छत्तीसगढ़ शासन - External Regional Language Site that opens in a new window"
                            onclick="return confirm('You are being redirected to an external website. Please note that North Baster Kanker District, State Chhattisgarh cannot be held responsible for external websites content & privacy policies.');"
                            target="_blank" rel="noopener noreferrer">
                            Government of Chhattisgarh
                        </a>
                    </li>

                    <!-- For Right Side Link  -->
              
                    <!-- second link -->
                </ul>
                <ul class="nav col right-link">
                
                    <li class="top-li ms-auto border-start border-end">
                        <a class="nav-link" routerLink="#main">
                            SKIP TO MAIN CONTENT
                        </a>
                    </li>
                    <!-- three link -->
                    <li class="top-li  ms-md-end border-end">
                        <a class="nav-link" href="https://cgstate.gov.in/">
                            Site-Map
                        </a>
                    </li>
                    <!-- link 4 -->
                    <li class="top-li  ms-md-end me-0">
                        <a class="nav-link" href="#">
                         ENG-हिं
                        </a> 
                    </li>
                </ul>
            </div>
        </div>
    </div>

