
<!-- top navbar -->
<!-- <app-topnav></app-topnav> -->
<!-- header topimg name logo  -->
<!-- <app-header></app-header> -->
<!-- navbar liks  -->
<!-- <app-navbar></app-navbar> -->
<!-- All contant show hear  -->
<!-- <div class="container-fluid m-0 p-0 border borwer-5 border-dark"> -->
    <router-outlet></router-outlet>
<!-- Form Toast Msg -->
<ng-toast></ng-toast> <!-- NEW WAY -->
<!-- </div> -->
<!-- Footer Slider -->
<!-- <app-footslide></app-footslide> -->
<!-- Footer Component -->
<!-- <app-footer></app-footer> -->
