<!-- top navbar -->
<app-topnav></app-topnav>
<!-- header topimg name logo  -->
<app-header></app-header>
<!-- navbar liks  -->
<app-navbar></app-navbar>
<!-- All contant show hear  -->
<div class="container-flude mt-2 mb-3 p-0 user-select-none">
    <div class="container page-heading text-center p-0 bg-white rounded shadow">
        <h3 style="background-color: #00d290"
            class="card-header p-2 text-light rounded border border-end-0 border-bottom-0 border-start-0 border-5 border-dark">
            <strong>User Registration</strong>
        </h3>
    </div>
  
  <div class="container main-con mt-2 bg-white-subtle p-1  rounded">
    <form class="form"[formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row basic-row">
            <div class="col-lg-9 mb-2 ">
                <div class="card border border-2 border-black pb-3">
                    <div class="card-header bg-warning p-1">
                        <h5 class="ms-1 mt-1 text-black"><b>Basic Information / मूलभूत जानकारी</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>
                                        <b>Candidate's Name / उम्मीदवार का नाम</b></label>
                                    <input formControlName="name" name="name" type="text" value="" id="CanName" placeholder="Enter Candidate Full Name" required class=" form-control shadow rounded border-1 border-dark"/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>Date of Birth / जन्म की तारीख</b></label>
                                    <input formControlName="dob" name="dob" type="text" onfocus="(this.type='date')" value="" id="ConDob" (change)="calculateAge()" required placeholder="Pickup Date of Birth " class="form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="gender"><b>Gender / लिंग</b></label>
                                    <select formControlName="gender" name="gender" id="CanGender"  class=" form-select shadow rounded border-1 border-dark">
                                        <!-- <option value="Select Candidate Gender" selected disabled>Select Candidate Gender</option> -->
                                        <option value="male">Male / पुरुष</option>
                                        <option value="female">Female / महिला</option>
                                        <option value="other">Other / अन्य</option>
                                    </select>
                                </div>                            
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                       <b>Category / वर्ग</b></label>
                                    <input formControlName="category" name="category" type="text" value="" id="CanCast" placeholder="Select Candidate Category" required  class=" form-control shadow rounded border-1 border-dark">
                                    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>Marital Status / वैवाहिक स्थिति </b>
                                    </label>
                                    <input name="mstatus" type="text" value="" id="CanMarital" placeholder="Select Candidate Marital Status " required class=" form-control shadow rounded border-1 border-dark">      
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>Age / उम्र</b>
                                    </label>
                                    <input name="ag" type="text" value="" id="CanAge" required placeholder=" Enter Candidate Age" class=" form-control shadow rounded border-1 border-dark">      
                                </div>
                            </div>            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Relative's Type / रिश्तेदार का प्रकार</b> </label>
                                    <label class="lbl-req">
                                        </label>
                                    <input name="relative" type="text" value="" id="CanRelativeType" placeholder="Select Relative's Type" required class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Relative Name / रिश्तेदार का नाम</b></label>
                                    <input name="RName" type="text" value="" id="CanRelativeName" placeholder="Enter Relative Name" required class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Mother's Name / माता का नाम</b></label>
                                    <input name="mname" type="text" value="" id="CanMother" placeholder="Enter Candidate Mother Name" required class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>

                            <div id="ContentPlaceHolder1_divNationality" class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Nationality / नागरिकता</b></label>
                                    <input name="Nationality" type="text" value="" id="CanNationality" required class="form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
 
                            <div id="ContentPlaceHolder1_divDomicileCG" class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Domicile of Chhatisgarh / छत्तीसगढ़ के निवासी</b></label>
                                    <input name="DomisileCG" type="text" value="" id="CanDomisileCG" required class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>

                            <div id="ContentPlaceHolder1_divDomicileDist" class="col-lg-6">
                                <div class="form-group">
                                    <label><b>District Domicile</b></label>
                                    <input name="DistrictDomecile" type="text" value="" id="CanDistrictDomecile" placeholder="Enter Candidate Domicile  District Name" required class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                       <b>Email ID / ईमेल</b>
                                    </label>
                                    <input name="Email" type="text" value="" id="CanEmail" placeholder="Enter Email ID" required class="form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Mobile No / मोबाइल नंबर</b></label>
                                    <input name="Mobile" type="text" value="" id="CanMobile" required placeholder="Enter Mobile" class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Password / पासवर्ड </b></label>
                                    <input name="password" type="password" value="" id="CanMobile" required placeholder="Enter Password" class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Repeat Password
                                         / पुनः पासवर्ड</b></label>
                                    <input name="password" type="password" value="" id="CanMobile" required placeholder="Repeat Password" class=" form-control shadow rounded border-1 border-dark">
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <!-- Images -->
            <div class="col-lg-3">
                <div class="card pb-3  border border-2 border-black">
                    <div class="card-header bg-danger p-1 ">
                        <h5 class="ms-1 mt-1 text-white">Img+Sign Uploads / अपलोड
                        </h5>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <div class=" rounded shadow mb-1 border border-1 border-dark" style="background-image: url('./../assets/register/prof-bg.jpg'); background-size: cover; background-position: center; width: 200px; height: 252px;">
                                    <img id="imgUpload" class="img-thumbnail bg-transparent rounded"  style="height:250px;width:200px;">
                                </div>
                            </div>
                            <hr class="brline p-0 m-0 mt-1"/>
                          <div class="col-lg-12 d-flex justify-content-center mt-1">
                                    <div class=" rounded shadow mb-1 border border-1 border-dark" style="background-image: url('./../assets/register/sign-bg.jpg'); background-size: cover; background-position: center; width: 200px; height:82px;">

                                    <img id="imgUploadSign" class="img-thumbnail bg-transparent rounded" style="height:80px;width:200px;">
                                </div>
                            </div>
                            <hr class="brline p-0 m-0 mt-1"/> 

                            <div class="upload-option1 mt-1">
                                <label for="files"><i class="fa-solid fa-user-graduate"></i> <b> Select Profile Image File</b></label>
                                <input required class="form-control form-control shadow rounded border-1 border-dark bg-primary-subtle" id="ProImgFile" type="file" title ="Please Choose User Profile Image" />
                               </div>
                               <hr class="brline p-0 m-0 mt-2"/>
                               <div class="upload-option2 mt-1">
                                <label for="files"><i class="fa-solid fa-signature"></i> <b> Select Signature Image File</b></label>
                                <input required class="form-control form-control shadow rounded border-1 border-dark bg-primary-subtle" id="SignImgFile" type="file" title ="Please Choose User Signature Image"  />
                               </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <!--  Basic + Img row1 -->
 
        <div class="row address-row mt-2 ">
            <div class="col-lg-12 mb-1 ">
                <div class="card pb-3  border border-2 border-black">
                    <div class="card-header bg-success p-1">
                        <h5 class="ms-1 mt-1 text-white"><b> Permanent Address / स्थायी पता</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>House No / मकान नंबर</b></label>
                                    <input name="HouseNo" type="text" id="PHouseNo" required placeholder="Enter House No.." class=" form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>Street / स्ट्रीट</b></label>
                                    <input name="PStreet" type="text" value="" id="PStreet" placeholder="Enter Street Area" required class="form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>City/Village / शहर / गांव</b></label>
                                    <input name="PCity" type="text" value="" id="PCity" placeholder="Enter City / Village" required class="form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6" style="Display:None">
                                <div class="form-group">
                                    <label>
                                       <b> Post Office / पोस्ट ऑफिस</b></label>
                                    <input name="PPost" type="text" id="PPost" placeholder="Enter Post Office" required class="form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>State / राज्य</b></label>
                                    <input name="PState" type="text" value="" id="PState" placeholder="Enter State Name" required class=" form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>District / जिला</b></label>
                                    <input name="PDist" type="text" value="" id="PDist" placeholder="Enter District Name" required class=" form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                       <b>Pin Code / पिनकोड</b></label>
                                    <input name="PPin" type="text" value="" id="PPin" placeholder="Enter Pin Code " required class="form-control shadow rounded border-1 border-success">
                                </div>
                            </div>
                            <div class="col-lg-6" style="Display:None">
                                <div class="form-group">
                                    <label>
                                        <b>Region / क्षेत्र</b></label>
                                    <input name="PRegion" type="text" id="PRegion" placeholder="Enter Region " class="form-control rounded border-1 border-success" required>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>       
        </div>

        <!-- Address Row -->

<!--declaration -->

<div class="row declaration-row mt-2">
    <div class="col-lg-12">
    <div class="card  border border-2 border-black">
           <div class="card-header bg-primary  p-1">     <label class="">
             <h5 class="ms-1 mt-1 text-white"><b> Declaration / घोषणा</b></h5>
        </label></div>
        <div class="card-body p-2">
            <textarea name="Declaration" rows="6" cols="20" id="CanDeclaration" class="form-control bg-primary-subtle text-justify" disabled>मैं यह घोषणा करता/करती हॅू कि, मेरे द्वारा ऑनलाइन आवेदन पत्र में स्वयं के नाम, श्रेणी, वर्ग, जन्मतिथि, डाक पता एवं अन्य दी गई सूचना मेरी जानकारी एवं विश्वास में सही है, जिसके सत्यतापूर्वक और सही होने की मैं घोषणा करता/करती हॅू । मैंने 'कांकेर भर्ती पोर्टल' द्वारा जारी प्रवेश नियमों एवं व्यापम के नियमों को पढ़ा है एवं समझा है । यदि ऊपर दी गई कोई भी जानकारी असत्य पायी जाती है तो चयन प्रक्रिया के किसी भी स्तर पर मुझे पूर्व सूचना दिये बिना मेरी अभ्यर्थिता समाप्त की जा सकती है।
I do hereby declare that the information given above related to my Name, Category, Gender, Date of Birth, Address, and all other information given above are correct, and I truthfully declare it to be correct. I have gone through the rules and other information related to the entrance exam notified by the department and 'कांकेर भर्ती पोर्टल' (Kanker Recruitment Portal) and understood the same. If any information given above is found to be incorrect at any stage, my candidature may summarily be terminated without any prior notice or information to me.
            </textarea>
 
        

<div class="form-group mt-2 ms-2">
    <input class="form-check-input border border-2 border-black"  id="Agreed" type="checkbox" name="Agreed" required><label for="CanAgreed"> <b class="ms-1"> I Agree (मैं सहमत हूँ)</b></label>
</div>

</div>
           
    </div>
     </div>

    </div> 

<!-- Captcha Otp Verify -->
<div class="row Verify-row mt-2">
     <div class="col-lg-12">
        <div class="card  border border-2 border-black">
            <div class="card-header  p-1" style="background-color: lightseagreen;">
          <h5 class="ms-1 mt-1 text-white"><b>Verify Captcha & OTP</b></h5>
            </div>
            <div class="card-body">
                <div class="row">
                
       <div class="col-lg-6">
        <div class="form-group  mb-3">
            <label for="captcha" class=""><b><i class="fa-solid fa-code-compare"></i>
                Captcha / कृपया कैप्चा को दर्ज करें ! :</b></label>
            <div class="d-flex justify-content-between">
                <input type="text"
                    class="me-2 form-control shadow p-2 border border-1 border-success"
                    id="captcha-input" placeholder="Enter Captcha Code" required />
                <div type="text" class="rounded shadow p-2 me-2 border border-1 border-danger bg-success-subtle"
                    id="captcha-text">
                    <b><i class="user-select-none fs-5" id="captcha-code">{{ captchaText }}</i></b>
                </div>

                <span type="reset" class="btn btn-danger btn-outline-dark text-light">
                    <b><i  (click)="generateCaptcha()" class="fas fa-sync fa-2x"></i></b>
                </span>
            </div>
        </div>
    </div>

    <div class="col-lg-6" >
        <div class="form-group  mb-3">
            <label for="captcha" class=""><b><i class="fa-solid fa-code-compare"></i>
                Verify OTP :</b></label>
            <div class="d-flex justify-content-between">
                <input type="text"
                    class="me-2 form-control shadow p-2 border border-1 border-success"
                    id="captcha-input" placeholder="Enter one time password" required  disabled />
               
                <button type="reset" class="btn btn-primary btn-outline-success "  disabled>
                    <b><i class="fas fa-paper-plane"></i></b>
                </button>
                <button type="submit" class="btn btn-success btn-outline-warning  ms-1"  disabled>
                    <b>Verify</b>
                </button>
            </div>
        </div>
    </div>


</div>

            </div>
        </div>
     </div>


</div>

<!-- otp row -->
 
        <div class="mt-2 d-flex justify-content-evenly pt-4 pb-3 rounded-top bg-light border border-black border-2">
            <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-outline-success text-light fs-5">
                <b>Register<i class="fa-solid fa-right-to-bracket fa-1x"></i></b>
            </button>
            <button type="reset" (click)="generateCaptcha()" class="btn btn-warning btn-outline-info text-light fs-5">
                <b>Reset <i class="fa-solid fa-repeat fa-1x"></i></b>
            </button>
            <button type="submit" class="btn btn-danger btn-outline-dark text-light fs-5"
                routerLink="/home">
                <b><i class="fa-solid fa-close fa-1x"></i>Cancel</b>
            </button>
        </div>

    </form>

<div class=" rounded-bottom border border-black border-2 p-1 text-center m-0 bg-dark text-light fw-bold">
<a class="text-light" href="#">User Manual</a> ||
<a class="text-light" href="#">User Instruction</a> ||
<small class="text-primary register-text">If Already have an account !..
</small>
<a class="text-warning" routerLink="/login" href="#"><b>Login</b></a>
</div>

<!-- main-con maain  -->
</div>
</div>
  <!-- close -->
<!-- Footer Slider -->
<app-footslide></app-footslide>
<app-footer></app-footer>
<!-- Footer Component -->




