.top-li a:hover{
background-color: black;
color: aliceblue;
}
.top-li a{
    color: black;

}
.container-fluid{
    margin: 0px;
    padding: 0px;
}
@media (max-width: 395px) {
    .right-link {
      display: none; /* Hide right-side content below 390px */
    }
}

@media (max-width: 395px) {
    .left-link {
   display: flex;
   justify-content: space-between;
     /* left-side content below 390px */
    }
}
@media (max-width: 997px) {
    .right-link {
      
        display: none;
        /* Hide right-side content below 390px */
    }
}
