
/* That Is Foe Rigth Side News Link */

.heading {
	color: #fff;
	background:#44bd9e;
    cursor: pointer;
}
.heading a{
float: right;
}

.heading a:hover{
    color: darkslateblue;
    }
.event-date{
    border: solid white;
    margin-right:5px;
}
.info-link{
   display: flex;
   justify-content: center;
   border: solid #44bd9e;
}

