
#loginbtn{
background-color: #44bd9e;
color: azure;
font-weight: bold;
border-radius:5px;
border:solid 2px #ffffff;
}
#regbtn{
    background-color: #059fff;
    color: azure;
    font-weight: bold;
    border-radius:5px;
    border:solid 2px white;
}


.nav-item{
    font-weight: bold;
    color:white;
    border-radius:5px;
    border:solid 2px #ffffff;
  background-color: #f88c26;
}
.Home-Icon{
    font-weight: bold;
    border-radius:5px;
    border:solid 2px white;
}

.nav-item a{
    color:white;
    }
.nav-item a:hover{
color:white;
}
.nav-item:hover{
    color:white;
    background-color: #44bd9e;
    border-radius:5px;
    border:solid 2px #ffffff;

}

.dropdown-item {
    font-weight: bold;
    color: black;
}
.dropdown-item:hover {
    background-color: #44bd9e;
    border-radius:5px;
    border:solid 2px white;
}

@media (max-width: 395px) {
    .nav-manu .btn {
            text-align:left;
      }

      .nav-ul {
        padding: 0%;
        margin-top: 11px;
        margin-bottom: 11px;
    }

}
@media (max-width: 770px) {
    .nav-manu .btn {
     text-align:left;
    }

    .nav-ul {
        padding: 0%;
        margin-top: 11px;
        margin-bottom: 11px;
    }

}


