
<div class="container-fluid p-0">
  <div class="container  rounded shadow border border-2 border-black ps-1 pe-1 bg-white">
    <nav class="navbar navbar-expand-lg">
      <!-- Home icon --> 

      <a class=" nav-item" routerLink="/home" title="HOME" rel="noopener noreferrer">
        <i class="fa-solid fa-house-chimney"  style="font-size:large; color: white; border: solid aquamarine; border-radius: 7px; padding: 11px; background-color: coral;">.</i>
      </a>

      <!-- Home icon -->
      <button class="navbar-toggler border border-2 bg-white ms-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon color-dark"></span>
      </button>
      <div class="collapse navbar-collapse nav-manu ms-auto" id="navbarSupportedContent">
        <div class="manubarlink p-0 m-0">
        <ul class="navbar-nav nav-ul mb-lg-0 ">
          <li class="nav-item" id="homebtn">   
            <a class="nav-link btn" routerLink="/home" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" routerLink="/about-us" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">About-Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" routerLink="/contact-us" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contact-Us</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              Dropdown
            </a>
            <ul class="dropdown-menu navbarNavDarkDropdown">
              <li><a class="dropdown-item btn " data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Action</a></li>
              <li><a class="dropdown-item btn" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item btn" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" routerLink="/gallery" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" routerLink="/notifications" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Notification</a>
          </li>
        </ul>
      </div>
        <div class="RightBtn d-flex justify-content-between ms-auto">
          <abbr title=" If You Already Registered So Click To Login">
            <a routerLink="/register" class="btn " id="regbtn" type="submit" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><i class="fa-solid fa-user-plus"></i>Register</a>
          </abbr>
          <a routerLink="/login" class=" btn  ms-3" id="loginbtn" type="submit" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"><i class="fa-solid fa-user-graduate"></i>Login</a>
        </div>
      </div>
    </nav>
  </div>
</div>
