<div id="ctl00_ContentPlaceHolder1_enquiryForm">
	
    <section id="Enquiry" class="enquiry">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="section-header">
                <h2>Enquiry</h2>
                <p>You can Enquire your queries by filling up the below given form-:</p>
            </div>

            <div class="row gx-lg-0 gy-4">

                <div class="col-lg-4">

                    <div class="info-container d-flex flex-column align-items-center justify-content-center">
                        <div class="info-item d-flex">
                            <div class="shake shake-constant">
                                <a href="https://goo.gl/maps/WuYwMjnhDBFfQ4ti8" target="_blank">
                                    <i class="bi bi-geo-alt flex-shrink-0"></i></a>
                            </div>
                            <div>
                                <h4>Location:</h4>
                                <p>Sector 24, Jhanj Atal Nagar-Nava Raipur Chhattisgarh 492101</p>
                            </div>
                        </div>
                        <!-- End Info Item -->

                        <div class="info-item d-flex">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h4>Email:</h4>
                                <p>tscgswcgmail.com</p>
                            </div>
                        </div>
                        <!-- End Info Item -->

                        <div class="info-item d-flex">
                            <i class="bi bi-phone flex-shrink-0"></i>
                            <div>
                                <h4>Call:</h4>
                                <p>0771-2513700</p>
                            </div>
                        </div>
                        <!-- End Info Item -->

                        <div class="info-item d-flex">
                            <i class="bi bi-clock flex-shrink-0"></i>
                            <div>
                                <h4>Open Hours:</h4>
                                <p>Mon-Fri: 10AM - 5.30PM</p>
                            </div>
                        </div>
                        <!-- End Info Item -->
                    </div>

                </div>



                <div class="col-lg-8">
                    <div class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                
                                <input name="ctl00$ContentPlaceHolder1$txt_name" type="text" id="ctl00_ContentPlaceHolder1_txt_name" class="form-control" placeholder="Your Name" required="required">
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input name="ctl00$ContentPlaceHolder1$txt_email" type="text" id="ctl00_ContentPlaceHolder1_txt_email" class="form-control" placeholder="Your Email" required="required">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-3 form-group">

                                <input name="ctl00$ContentPlaceHolder1$txt_phone" type="text" id="ctl00_ContentPlaceHolder1_txt_phone" class="form-control" placeholder="Your Phone" required="required">
                            </div>
                            <div class="col-md-6 form-group mt-3">

                                <input name="ctl00$ContentPlaceHolder1$txt_subject" type="text" id="ctl00_ContentPlaceHolder1_txt_subject" class="form-control" placeholder="Subject" required="required">
                            </div>
                        </div>


                        <div class="form-group mt-3">

                            <textarea name="ctl00$ContentPlaceHolder1$txt_message" rows="7" cols="20" id="ctl00_ContentPlaceHolder1_txt_message" class="form-control" placeholder="Message" required="required"></textarea>
                        </div>
                        <div class="my-3">

                            <div class="sent-message">
                                <span id="ctl00_ContentPlaceHolder1_confirm"></span>
                            </div>

                        </div>

                        <div class="text-center">
                            <input type="submit" name="ctl00$ContentPlaceHolder1$btn_send" value="Send Message" id="ctl00_ContentPlaceHolder1_btn_send" class="send-btn">
                        </div>
                    </div>
                </div>
                <!-- End Contact Form -->

            </div>

        </div>
    </section>
    <!-- End Contact Section -->

</div>