<app-user-nav></app-user-nav>
<app-user-side-nav></app-user-side-nav>

<!-- Currunt Opnings -->
<div class="container mt-2 pb-5">
    <!-- code -->
    
    <div class="container p-3 bg-light  rounded vh-100 border-top border-5 border-danger">
            <h2 class="text-center fw-bolder text-primary p-3">Currunt Opnings</h2>
        <div class="table-responsive p-0 shadow rounded border bg-white mt-5 pb-3">
            <!-- </table> -->
            <table class="  table table-bordered table-striped border-3 border border-dark rounded">
              <thead class="thead table-dark p-0 border">
                <tr class="fw-blod p-0 border border-white shadow rounded text-center">
                  <th class="">S.No</th>
                  <th class="">Title</th>
                  <th class="">Description</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>PDF File</th>
                  <th>Apply Now</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <tr *ngFor="let CurrentJob  of getPaginatedCurrentJobs(); let i = index" class="text-center align-content-center">
                  <td class="fw-bolder text-dark">{{ (currentPage - 1) * itemsPerPage + i + 1 }}.</td>
                  <td>{{ CurrentJob .Title }}</td>
                  <td>{{ CurrentJob .Description }}</td>
                  <td>{{ CurrentJob .Start_Date | date: 'dd/MM/yy' }}</td>
                  <td>{{ CurrentJob .End_Date | date: 'dd/MM/yy' }}</td>
                  <td>
                    <a href="{{ CurrentJob .PDF_File }}" target="_blank">
                      <i class="fa-solid fa-file-pdf text-bg-danger p-1 rounded border border-2 border-white"></i>
                      <small class="fw-bold text-black">Open-File</small>
                    </a>
                  </td>
                  <td>
                    <a href="{{ CurrentJob .Apply_Now }}">
                      <button class="btn btn-warning text-center">
                        <h6 class="text-light fw-bolder">Apply</h6>
                      </button>
                    </a>
                  </td>
                </tr>
              </tbody>

            </table>
            
            <div class="d-flex justify-content-between mt-3 bg-white rounded fw-bold p-2">
              <button class="btn btn-primary fw-bold" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
              <span >Page {{ currentPage }} of {{ totalPages }}</span>
              <button class="btn btn-primary fw-bold" (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
            </div>
            
          </div>
      </div>


</div>


<app-user-footer></app-user-footer>