
<!-- top navbar -->
<app-topnav></app-topnav>
<!-- header topimg name logo  -->
<app-header></app-header>
<!-- navbar liks  -->
<app-navbar></app-navbar>
<!-- All contant show hear  -->
<div class="container-flude mt-2 p-1 mb-3">
    <div
        class="container page-heading text-center p-0 bg-white rounded shadow">
        <h3 style="background-color: #44bd9e" class="card-header p-2 text-light  rounded border border-end-0 border-bottom-0 border-start-0 border-5 border-danger">
            <strong>Forgot User ID Password</strong>
        </h3>

        <div class="container mt-3 pb-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card rounded border border-end-0 border-bottom-0 border-start-0 border-5 border-success">
                        <div class="card-header border border-dark">
                            <span class="text-justify text-danger">
                                <p class="text-justify">
                                    <small><b>लॉग इन और आवेदन पत्र भरने से पहले 'कांकेर भर्ती पोर्टल' - Kanker Recruitment Portal पर पंजीकरण करना अनिवार्य है। कृपया सुनिश्चित करें कि आप पंजीकृत हैं, क्योंकि केवल पंजीकृत आवेदक ही इस पोर्टल के माध्यम से आयोजित भर्तियों के लिए आवेदन कर सकते हैं।</b></small>
                                </p>
                            </span>
                        </div>
                        <div class="card-body border border-dark border-bottom-0 pb-3">
                            <div class="dropdown form text-center">
                                <button class="btn btn-dark dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <label for="option" class=""><b><u>Trouble Logging In</u></b></label>
                                </button>
                                <ul class="dropdown-menu form-control dropdown-menu-dark text-white">
                                  <li><button class="dropdown-item text-center form-control" (click)="Passload()"  id="1">Forgot Login Password (Only)</button>
                                  </li>
                                  <li ><button class="dropdown-item text-center form-control" (click)="Idpassload()" id="2">Forgot User ID & Login Password (Both)</button>
                                  </li>
                                </ul>
                                @if (img) {
                                    <div class="container-fluid user-select-none border border-3 border-white rounded mt-3 img-man-div">
                                             <img  class=" img-fluid" src="../../../assets/forgot/man.png" alt="Forget User ID Password Img">
                                </div>
                                }
                            </div>
                              <!--componet load selected option   -->
                              <div class="row d-flex justify-content-center text-left mt-1 ">
                                @if (passvar) {
                                   <app-forgetpassword></app-forgetpassword>
                                }
                                @if (idpassvar) {
                                   <app-forgetidpassword></app-forgetidpassword>
                                } 
                            </div>
                            </div>
                            
                            
                        <div class="card-header rounded-bottom border border-dark border-1 border-top-0 p-1 bg-dark text-light fw-bold "> <hr  class="m-0">                          
                           <a class="text-light" href="#">User Manual</a> || <a class="text-light" href="#">User Instruction</a> || <small class="text-primary register-text">Don't have an account ? </small>   <a class="text-warning" routerLink="/register" href="#"><b>Register</b></a> 
                           <hr  class="m-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Footer Slider -->
  <app-footslide></app-footslide>
  <!-- Footer Component -->
  <app-footer></app-footer>

 
