<div class="container-flude mt-2 p-1 mb-3">
    <div
        class="container page-heading text-center p-0 bg-white rounded shadow">
        <h3 style="background-color: #44bd9e" class="card-header p-2 text-light  rounded border border-end-0 border-bottom-0 border-start-0 border-5 border-danger">
            <strong>Forget User ID Password</strong>
        </h3>

        <div class="container mt-3 pb-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card rounded border border-end-0 border-bottom-0 border-start-0 border-5 border-success">
                        <div class="card-header border border-dark">
                            <span class="text-justify text-danger">
                                <p class="text-justify">
                                    <small><b>लॉग इन और आवेदन पत्र भरने से पहले 'कांकेर भर्ती पोर्टल' - Kanker Recruitment Portal पर पंजीकरण करना अनिवार्य है। कृपया सुनिश्चित करें कि आप पंजीकृत हैं, क्योंकि केवल पंजीकृत आवेदक ही इस पोर्टल के माध्यम से आयोजित भर्तियों के लिए आवेदन कर सकते हैं।</b></small>
                                </p>
                            </span>
                        </div>
                        <div class="card-body border border-dark border-bottom-0">
                            <form class="pb-5 fw-bold  option-form" id="option-form">
                               <div class="form-group mb-5">
                                <label for="option" class=""><b>Trouble Logging In</b></label>
                                <select class="form-control shadow p-2 border border-1 border-success form-select mb-3" id="option" required>
                                    <option class="text-center bg-info text-light fw-bold" value="" disabled selected>Please Select An Forget Option</option>
                                    <option value="forgetPassword">Forget Login Password (Only)</option>
                                    <option value="forgetUserIdPassword">Forgot User ID & Login Password (Both)</option>
                                </select>
                            </div>
                            </form>
                        </div>
                        <div class="card-header rounded-bottom border border-dark border-1 border-top-0 p-1 bg-dark text-light fw-bold ">                           
                           <a class="text-light" href="#">User Manual</a> || <a class="text-light" href="#">User Instruction</a> || <small class="text-primary register-text">Don't have an account ? </small>   <a class="text-warning" routerLink="/register" href="#"><b>Register</b></a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 