<div class="container-flude mt-3 p-1">
    <div class="container page-heading text-center">
        <h3 class="p-2 bg-primary text-light border-bottom border-1 rounded"><strong>Contact-Us Page</strong></h3>
    </div>  
  
    <div class="container rounded fw-bold" >
 
      <section class="text-gray-600 body-font relative">
        <div class="container px-5 mx-auto flex flex-wrap">
          <form
           
          
            class="bg-white flex flex-col w-full mt-8"
          >
            <h1
              class="text-gray-900 text-3xl mb-4 font-medium title-font text-red-500"
            >
              Angular Contact Form
            </h1>
            <div class="relative mb-4">
              <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
              <input
                formControlName="name"
                type="text"
                id="name"
                name="name"
                class="
                  w-full
                  bg-white
                  rounded
                  border border-gray-300
                  text-base
                  outline-none
                  text-gray-700
                  py-1
                  px-3
                  leading-8
                "
              />
            </div>
            <div class="relative mb-4">
              <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
              <input
                formControlName="email"
                type="email"
                id="email"
                name="email"
                class="
                  w-full
                  bg-white
                  rounded
                  border border-gray-300
                  text-base
                  outline-none
                  text-gray-700
                  py-1
                  px-3
                  leading-8
                "
              />
            </div>
            <div class="relative mb-4">
              <label for="message" class="leading-7 text-sm text-gray-600"
                >Message</label
              >
              <textarea
                formControlName="message"
                id="message"
                name="message"
                class="
                  w-full
                  bg-white
                  rounded
                  border border-gray-300
                  h-32
                  text-base
                  outline-none
                  text-gray-700
                  py-1
                  px-3
                  resize-none
                  leading-6
                  transition-colors
                  duration-200
                  ease-in-out
                "
              ></textarea>
            </div>
            <button
              type="submit"
              class="
                text-white
                bg-red-500
                border-0
                py-2
                px-6
                focus:outline-none
                hover:bg-red-600
                rounded
                text-lg
              "
            >
              Send
            </button>
          </form>
        </div>
      </section>
      
    </div>    


</div>


