<div class="container-flude mt-3 p-1">
    <div class="container page-heading text-center">
        <h3 class="p-2 bg-primary text-light border-bottom border-1 rounded"><strong>Contact-Us Page</strong></h3>
    </div>  
  
    <div class="container rounded fw-bold mb-3 pt-3 pb-3" style="background-color:#34495e;">
 
        <form id="contact_form" name="contact_form" method="post" class="cform" >
            <div class="mb-3">
              <label class="ms-1 text-light"  for="email_addr">Email Address :</label>
              <input type="email" required maxlength="50" class="form-control" 
              id="email_addr" name="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label class="ms-1 text-light" for="name_input">Name :</label>
              <input type="text" required maxlength="50" class="form-control" 
              id="name_input" name="name" placeholder="Name">
            </div>            
            <div class="mb-3">
                <label class="ms-1 text-light"  for="phone_input">Phone :</label>
                <input type="tel" required maxlength="50" class="form-control" 
                id="phone_input" name="Phone" placeholder="Phone">
              </div> 
            <div class="mb-3">
              <label class="ms-1 text-light"  for="message">Message :</label>
              <textarea class="form-control" id="message" name="message" rows="3" placeholder="Any Query ?.."></textarea>
            </div>
          <div class="my-4">
          <div class="text-captcha">
            <div class="mb-3 d-flex align-items-center">
                <canvas id="captcha" width="200" height="80"></canvas>
                <button type="button" class="btn btn-secondary" id="refresh-captcha">
                  <i class="fa fa-refresh"></i>
                </button>
              </div>
    
              <div class="mb-3">
                <label class="ms-1 text-light" for="captcha-input">Enter Captcha :</label>
                <input type="text" class="form-control" id="captcha-input" required>
              </div>
              <button type="submit" class="btn btn-primary ms-1 text-light">Submit</button>
          </div>
          </div>
          <hr/>
            <button type="submit" class="btn btn-primary px-5 fw-bold ">Send</button>
          </form>
    </div>    


</div>