<div class="container-flude mt-2 p-1 mb-3">
  <div class="container page-heading text-center p-0 bg-white rounded shadow">
      <h3 style="background-color: #ea5a0c"
          class="card-header p-2 text-light rounded border border-end-0 border-bottom-0 border-start-0 border-5 border-primary">
          <strong>Contact Us</strong>
      </h3>

<div class="container mt-2">
  <div class="row d-flex contact-row p-1 rounded  shadow ">
      <div class="col-md-8 con-form shadow pb-3">
          <form class="con-form">
            <div class="mb-3">
              <label for="formGroupExampleInput" class="form-label ms-3"><b><i class="fa-solid fa-user-tie"></i> Name :</b></label>
              <input type="text" class="form-control rounded border-1 border-dark" id="name" placeholder="Enter your name">
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label ms-3"> <b><i class="fa-solid fa-envelope-open-text"></i> Email :</b> </label>
              <input type="email" class="form-control rounded border-1 border-dark" id="email" placeholder="Enter your email">
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label ms-3"><b><i class="fa-solid fa-tty"></i> Phone : </b></label>
              <input type="text" class="form-control rounded border-1 border-dark" id="formGroupExampleInput2" placeholder="Enter your number">
            </div>
            <div class="mb-3">
              <label for="formGroupExampleInput2" class="form-label ms-3"> <b> <i class="fa-regular fa-message"></i> Message : </b></label>
              <textarea  class="col-12 textarea rounded p-3 border-1 border-danger" id="exampleFormControlTextarea1" placeholder=" Write Your Query ?.." rows="5"></textarea>
            </div >
            <div class="mb-3 text-center">
            <button class="btn btn-primary "><b class="fs-5">Send<i class="bi bi-send"></i></b></button>  
          </div>
        </form>
      </div>
      <div class="col-md-4 pb-3 rounded">
        <h4 class="pt-2">Reach Us</h4><hr>
        <div class="Address ms-0">  
           
              <p ><i class="bi bi-geo-alt-fill"></i> <b> Address:- Collector Office, Near Bus Stand, Kanker, Chhattisgarh, Pin 494334</b> </p>
           <hr>
 
           
              <p>    <i class="bi bi-telephone-fill"> </i><b> Phone:- </b> <a class="text-white " href="tel:07868-241222"><b>07868-241222</b> </a> </p>
          <hr>
          
             
              <p><i class="bi bi-envelope-fill"></i> <b> Email:- </b> <a class="text-white " href="mailto:Kanker@gmail.com"><b>Kanker{{"@"}}gmail.com</b></a></p>
         <hr>
       
           
              <p>   <i class="bi bi-browser-chrome"></i> <b> Website:- </b> <a class="text-white" href="https://kanker.gov.in" target="_blank" rel="noopener noreferrer"><b>https://kanker.gov.in</b></a> </p>
              <hr><h5> <i class="fa-solid fa-map-location-dot"></i> Office Location</h5><hr>
              <div class="map mb-0 p-0 mt-3">
                
                <iframe class="rounded p-0 border border-1 border-white" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14971.240497231402!2d81.498843!3d20.266708!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a2efd9e0518cda5%3A0xe947c615bc016b!2sCollectorate!5e0!3m2!1sen!2sin!4v1710466122920!5m2!1sen!2sin" ></iframe>
              </div>
            </div>

          </div>
       
</div>

    </div>
  </div>
</div>
