<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
 <label for="email">Full Name </label>
  <input type="email" id="email" class="form-control" formControlName="email" required />
  @if (userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)) {
    <p class="text-danger"><small>Email is required!....</small></p>
  }
  <button class="btn btn-dark">Submit</button>
</form>
<p>Input Value: {{ userForm.get('email')?.value }}</p>


<select formControlName="gender" name="gender" id="CanGender"  class="form-control shadow rounded border-1 border-dark ">
  <option  class="fw-bold text-center "  value="" disabled selected>Select Candidate Gender</option>
  <option value="male">Male / पुरुष</option>
  <option value="female">Female / महिला</option>
  <option value="other">Other / अन्य</option>
</select>