
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-black text-white fw-bold navbar-dark  sticky-top px-2 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-lg-flex ms-lg-5">
            <input class="form-control border-0" type="search" placeholder="Search">
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown">
                    <img class="rounded-circle border border-white me-lg-2"  [src]="'https://cdn-icons-png.flaticon.com/512/3135/3135715.png'" 
                    alt="Admin-Profile-Img" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex text-white fw-bold">Admin</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-light text-dark rounded fw-bold border-1  rounded-bottom m-0">
                    <a href="#" class="dropdown-item fw-bold">My Profile</a>
                    <a href="#" class="dropdown-item fw-bold">Settings</a>
                    <a href="#" class="dropdown-item fw-bold">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
<!--  -->
