<div class="container-flude mt-2 mb-3 p-0">
    <div class="container page-heading text-center p-0 bg-white rounded shadow">
        <h3 style="background-color: #00d290"
            class="card-header p-2 text-light rounded border border-end-0 border-bottom-0 border-start-0 border-5 border-dark">
            <strong>User Registration</strong>
        </h3>
    </div>
  
  <div class="container main-con mt-2 bg-white p-2 rounded">
    <div class="row basic-row ">
            <div class="col-lg-9 mb-3 ">
                <div class="card">
                    <div class="card-header bg-warning p-1">
                        <h5 class="ms-1 mt-1"><b>Basic Information / मूलभूत जानकारी</b></h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>
                                        <b>Candidate's Name / उम्मीदवार का नाम</b></label>
                                    <input name="ctl00$ContentPlaceHolder1$txtName" type="text" value="LOMASH RISHI" id="ContentPlaceHolder1_txtName" disabled="disabled" class="aspNetDisabled form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>Date of Birth / जन्म की तारीख</b></label>
                                    <input name="ctl00$ContentPlaceHolder1$txtDOB" type="text" value="28-Feb-2001" id="ContentPlaceHolder1_txtDOB" disabled="disabled" class="aspNetDisabled form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>Gender / लिंग</b></label>
                                    <input name="ctl00$ContentPlaceHolder1$txtGender" type="text" value="Male" id="ContentPlaceHolder1_txtGender" disabled="disabled" class="aspNetDisabled form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                       <b>Category / वर्ग</b></label>
                                    <input name="ctl00$ContentPlaceHolder1$txtCast" type="text" value="OBC (NON CREAMY LAYER)" id="ContentPlaceHolder1_txtCast" disabled="disabled" class="aspNetDisabled form-control">
                                    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>Marital Status / वैवाहिक स्थिति </b>
                                    </label>
                                    <input name="ctl00$ContentPlaceHolder1$txtPayAmt" type="text" value="0" id="ContentPlaceHolder1_txtPayAmt" disabled="disabled" class="aspNetDisabled form-control">      
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                        <b>Age / उम्र</b>
                                    </label>
                                    <input name="ctl00$ContentPlaceHolder1$txtPayAmt" type="text" value="0" id="ContentPlaceHolder1_txtPayAmt" disabled="disabled" class="aspNetDisabled form-control">      
                                </div>
                            </div>            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Relative's Type / रिश्तेदार का प्रकार</b> </label>
                                    <label class="lbl-req">
                                        *</label>
                                    <input name="ctl00$ContentPlaceHolder1$txtRelative" type="text" value="Father" id="ContentPlaceHolder1_txtRelative" disabled="disabled" class="aspNetDisabled form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Relative Name / रिश्तेदार का नाम</b></label>
                                    <input name="ctl00$ContentPlaceHolder1$txtFather" type="text" value="VIKAS SINHA " id="ContentPlaceHolder1_txtFather" disabled="disabled" class="aspNetDisabled form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Mother's Name / माता का नाम</b></label>
                                    <input name="ctl00$ContentPlaceHolder1$txtMother" type="text" value="KUNTI" id="ContentPlaceHolder1_txtMother" disabled="disabled" class="aspNetDisabled form-control">
                                </div>
                            </div>

                            <div id="ContentPlaceHolder1_divNationality" class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Nationality / नागरिकता</b></label>
                                    <input name="ctl00$ContentPlaceHolder1$txtNationality" type="text" value="Indian" id="ContentPlaceHolder1_txtNationality" disabled="disabled" class="aspNetDisabled form-control">
                                </div>
                            </div>
 
                            <div id="ContentPlaceHolder1_divDomicileCG" class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Domicile of Chhatisgarh / छत्तीसगढ़ के निवासी</b></label>
                                    <input name="ctl00$ContentPlaceHolder1$txtDomisileCG" type="text" value="Yes" id="ContentPlaceHolder1_txtDomisileCG" disabled="disabled" class="aspNetDisabled form-control">
                                </div>
                            </div>

                            <div id="ContentPlaceHolder1_divDomicileDist" class="col-lg-6">
                                <div class="form-group">
                                    <label><b>District Domicile</b></label>
                                    <input name="ctl00$ContentPlaceHolder1$txtDistrictDomecile" type="text" value="Dhamtari" id="ContentPlaceHolder1_txtDistrictDomecile" disabled="disabled" class="aspNetDisabled form-control">
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>
                                       <b>Email ID / ईमेल</b>
                                    </label>
                                    <input name="ctl00$ContentPlaceHolder1$txtEmail" type="text" value="lomashrishisinha@gmail.com" id="ContentPlaceHolder1_txtEmail" disabled="disabled" class="aspNetDisabled form-control">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label><b>Mobile No / मोबाइल नंबर</b></label>
                                    <input name="ctl00$ContentPlaceHolder1$txtMob" type="text" value="9977679866" id="ContentPlaceHolder1_txtMob" disabled="disabled" class="aspNetDisabled form-control">
                                </div>
                            </div>
                            

                            
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header bg-danger p-1 ">
                        <h5 class="ms-1 mt-1 text-white">Img+Sign Uploads / अपलोड
                        </h5>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <div class=" rounded shadow" style="width: 200px">
                                    <img id="imgUpload" class="img-thumbnail " src="https:\\vyapamonline.cgstate.gov.in\GlobalSanPath\Vyapam\Candidate/Photo/2023/05/11/9977679866_20230511190631427_099251.jpg" style="height:220px;width:200px;">
                                </div>
                            </div>
                            <hr class="brline p-0 m-0 mt-1"/>
                          <div class="col-lg-12 d-flex justify-content-center mt-1">
                                <div class="rounded shadow" style="width: 200px">
                                    <img id="ContentPlaceHolder1_ImgUploadSign" class="img-thumbnail" src="https:\\vyapamonline.cgstate.gov.in\GlobalSanPath\Vyapam\Candidate/Sign/2023/05/11/9977679866_20230511190708508_047882.jpg" style="height:80px;width:200px;">
                                </div>
                            </div>
                            <hr class="brline p-0 m-0 mt-1"/>

                            <div class="upload-option1 mt-1">
                                <label for="files"><i class="fa-solid fa-user-graduate"></i> <b> Select Profile Image File</b></label>
                                <input class="form-control form-control-sm" id="ProImgFile" type="file" title ="Please Choose User Profile Image" />
                               </div>
                               <hr class="brline p-0 m-0 mt-1"/>
                               <div class="upload-option2 mt-1">
                                <label for="files"><i class="fa-solid fa-signature"></i> <b> Select Signature Image File</b></label>
                                <input class="form-control form-control-sm" id="SignImgFile" type="file" title ="Please Choose User Signature Image"  />
                               </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <!--  Basic + Img row1 -->
 



<!-- main-con maain  -->
</div>
</div>
  <!-- close -->







